include ../button/button

mixin range-calendar(options)
  //- options = {options, mods=["mod1", "mod2", ...]}

  -
    let unitClassName = 'range-calendar';

    //- Add modifiers to class name
    if ( Object.hasOwn(options, 'mods') && options.mods) {
      //- If modifiers were passed to mixin
      options.mods.forEach((element) => {
        unitClassName += ` range-calendar_${element}`;
      });
    }

    const daysLabels = ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс'];
    let daysValues = [];
    for (let i = 0; i <= 5; i++) {
      let row = [];
      for (let j = 1; j <= 7; j++) {
        let day = i * 7 + j;
        row.push(day);
      }
      daysValues.push(row);
    }

  div(class=unitClassName)&attributes(attributes)(
    data-month=options.month ? options.month : "",
    data-date-from=options.dateFrom ? options.dateFrom : "",
    data-date-to=options.dateTo ? options.dateTo : ""
  )
    .range-calendar__header
      .range-calendar__month-switch
        button.range-calendar__previous-month-btn.switch-month-btn(
          type="button"
        )
          img.logo__img(
            src=require("./assets/arrow_back.svg"),
            alt="back",
            width=17,
            height=18
          )
        .range-calendar__month-year-label
          span.range-calendar__month-label= ""
          span.range-calendar__year-label= ""
        button.range-calendar__next-month-btn.switch-month-btn(type="button")
          img.logo__img(
            src=require("./assets/arrow_forward.svg"),
            alt="forward",
            width=17,
            height=18
          )
    .range-calendar__body
      .range-calendar__days-labels
        .range-calendar__days-row
          each dayLabel in daysLabels
            .range-calendar__day-unit= dayLabel
      .range-calendar__days-values
        each dayRow in daysValues
          .range-calendar__days-row
            each day in dayRow
              button.range-calendar__day-unit.day-unit-btn(type="button")(
                data-date-value
              )= day
    .range-calendar__footer
      .range-calendar__buttons
        +button({text:'очистить'}).range-calendar__clear-button.button_type_text(
          type="button"
        )
        +button({text: 'применить'}).range-calendar__submit-button.button_type_text(
          type="button"
        )
