include ../card/card
include ../text-field/text-field
include ../radio-button/radio-button
include ../form-unit-header/form-unit-header
include ../masked-text-field/masked-text-field
include ../toggle/toggle
include ../button/button

mixin card-registration(options)
  //- options = {options, mods=["mod1", "mod2", ...]}

  -
    let unitClassName = 'card-registration';

    //- Add modifiers to class name
    if ( Object.hasOwn(options, 'mods') && options.mods) {
      //- If modifiers were passed to mixin
      options.mods.forEach((element) => {
        unitClassName += ` card-registration_${element}`;
      });
    }

  +card({})(class=unitClassName)&attributes(attributes)
    .card-registration__title= 'Регистрация аккаунта'
    form.card-registration__form(action='')
      .card-registration__personal-info.personal-info
        +text-field({}).field_size_l(
          type='text',
          placeholder='Имя',
          required
        )
        +text-field({}).field_size_l(
          type='text',
          placeholder='Фамилия',
          required
        )
        .personal-info__sex
          +radio-button({label: 'Мужчина', name: 'gender', value: 'male', isChecked: true})
          +radio-button({label: 'Женщина', name: 'gender', value: 'female'})
      .card-registration__birth-date
        +form-unit-header({title: 'дата рождения', subtitle:''})
        +masked-text-field({})(placeholder='ДД.ММ.ГГГГ', required)
      .card-registration__authorization-data
        +form-unit-header({title: 'данные для входа в сервис', subtitle:''})
        .card-registration__authorization-data-body
          +text-field({}).field_size_l(
            type='email',
            placeholder='Email',
            required
          )
          +text-field({}).field_size_l(
            type='password',
            placeholder='Пароль',
            required
          )
          +toggle({label: 'Получать спецпредложения', name: 'specialOffers', value: 'yes', isChecked: false})
      +button({text: 'Зарегистрироваться', mods: ['type_cta', 'bg_filled', 'cta-primary']}).card-registration__signup-btn(
        type='submit'
      )
    .card-registration__login-box
      .card-registration__login-label= 'Уже есть аккаунт на Toxin'
      +button({text: 'войти', mods: ['type_cta', 'bg_ghost']}).card-registration__login-btn(
        type='button'
      )
