include ../../form-unit-header/form-unit-header
include ../../text-field/text-field
include ../../masked-text-field/masked-text-field
include ../../dropdown-guests/dropdown-guests
include ../../date-range-picker/date-range-picker
include ../../filter-date-dropdown/filter-date-dropdown
include ../../subscription-text-field/subscription-text-field

mixin form-elements-section__fields(options)
  //- options = {options, mods=["mod1", "mod2", ...]}

  -
    let unitClassName = 'form-elements-section__fields';

    //- Add modifiers to class name
    if ( Object.hasOwn(options, 'mods') && options.mods) {
      //- If modifiers were passed to mixin
      options.mods.forEach((element) => {
        unitClassName += ` form-elements-section__fields_${element}`;
      });
    }

  div(class=unitClassName)&attributes(attributes)
    .form-elements-section__fields-row
      .form-elements-section__text-field.form-elements-section__field-form-unit
        +form-unit-header({title: 'Text Field', subtitle: 'Default'})
        +text-field({}).field_size_l(type='email', placeholder='Email')
      .form-elements-section__text-field.form-elements-section__field-form-unit
        +form-unit-header({title: 'Text Field', subtitle: 'hover/focus'})
        +text-field({}).field_size_l.field_always-hovered(
          type='text',
          placeholder='Text',
          value='This is pretty awesome'
        )
      .form-elements-section__dropdown.form-elements-section__field-form-unit
        +form-unit-header({title: 'Dropdown'})
        +dropdown-guests({value: 'Сколько гостей', counters: [ {label: 'взрослые', defaultValue: 0}, {label: 'дети', defaultValue: 0}, {label: 'младенцы', defaultValue: 0}]})
      .form-elements-section__masked-text-field.form-elements-section__field-form-unit
        +form-unit-header({title: 'masked text field', subtitle: ''})
        +masked-text-field({})(placeholder='ДД.ММ.ГГГГ')
    .form-elements-section__fields-fields-row
      +date-range-picker({titles: ['Date dropdown', 'Date dropdown'], subtitles: ['', '']})
    .form-elements-section__fields-row
      .form-elements-section__filter-date-dropdown.form-elements-section__field-form-unit
        +form-unit-header({title: 'filter date dropdown', subtitle: ''})
        +filter-date-dropdown({})
    .form-elements-section__fields-row
      .form-elements-section__subscription-text-field.form-elements-section__field-form-unit
        +form-unit-header({title: 'subscription text field', subtitle: ''})
        +subscription-text-field({inputType: 'text', inputPlaceholder: 'Email'})
